<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>Hello, world!</title>
</head>

<body>

    <div class="container mt-5"style="width: 94vw;height:auto; background-color: bisque;">
        <div class="box" >
        <form method="post" action="/register"  class="row g-3">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">First name</label>
                <input type="text" class="form-control " id="validationServer01" value=""name="firstname" placeholder="ENTER TOUR NAME">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">Last name</label>
                <input type="text" class="form-control " id="validationServer02" value=""
                    placeholder="ENTER TOUR LAST NAME" name="lastname">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServerUsername" class="form-label">Father Name</label>
                <div class="input-group has-validation">
                    <!-- <span class="input-group-text" id="inputGroupPrepend3"></span> -->
                    <input type="text" class="form-control " id="validationServerUsername"
                        placeholder="ENTER YOU FATHER NAME"
                        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" name="fathername">
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Phone Number</label>
                <input type="text" class="form-control " id="validationServer01"  placeholder="ENTER TOUR PHONE NUMBER" name="phonenumber">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">Email</label>
                <input type="text" class="form-control " id="validationServer02"
                    placeholder="ENTER TOUR EMAIL" name="email">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServerUsername" class="form-label">Age</label>
                <div class="input-group has-validation">
                    <!-- <span class="input-group-text" id="inputGroupPrepend3"></span> -->
                    <input type="text" class="form-control " id="validationServerUsername"
                        placeholder="ENTER TOUR AGE"
                        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" name="age">
                    <div id="validationServerUsernameFeedback" class="invalid-feedback" >
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Password</label>
                <input type="text" class="form-control " id="validationServer01"  placeholder=" PASSWORD" name="password">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">City Name</label>
                <input type="text" class="form-control " id="validationServer02" 
                    placeholder="ENTER TOUR CITY NAME" name="cityname">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServerUsername" class="form-label">State Name</label>
                <div class="input-group has-validation">
                    <!-- <span class="input-group-text" id="inputGroupPrepend3"></span> -->
                    <input type="text" class="form-control " id="validationServerUsername"
                        placeholder="ENTER TOUR STATE NAME" name="statename"
                        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            
            <div class="d-flex ">
                <div class="form-check me-5">
                    <input class="form-check-input" type="radio" name="gender" value="male" id="flexRadioDefault1" >
                    <label class="form-check-label" for="flexRadioDefault1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="female" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Female
                    </label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input " type="checkbox"  id="invalidCheck3"
                        aria-describedby="invalidCheck3Feedback"  name="yes">
                    <label class="form-check-label" for="invalidCheck3">
                        Agree to terms and conditions
                    </label>
                    <div id="invalidCheck3Feedback" class="">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit" name="Register">Submit form</button>
            </div>
        </form>
    </div>
    </div>
   

   
</body>

</html>